<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="classes" thread-count="3">
    <test name="Static pages tests" >
        <classes>
            <class name="tests.MainTests"/>
        </classes>
    </test>
</suite>