<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="YourTestSuite">
    <test name="AndroidTest">
        <parameter name="platform" value="android" />
        <classes>
            <class name="tests.android_platform.MainTest" />
        </classes>
    </test>
    <test name="iOSTest">
        <parameter name="platform" value="ios" />
        <classes>
            <class name="tests.ios_platform.MainTest" />
        </classes>
    </test>
</suite>